name: Build

on: [push, pull_request, release]

jobs:
  build_linux_wheels:
    name: Build linux wheels
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        cibw_python: ["cp38-*", "cp39-*"]
        cibw_manylinux: ["manylinux2014"]

    steps:
      - uses: actions/checkout@v2
   
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.0.1
        env:
           CIBW_BUILD: ${{ matrix.cibw_python }}
           CIBW_BEFORE_BUILD: yum install eigen3-devel -y
           CIBW_TEST_COMMAND: pytest --pyargs lpsmap
           CIBW_BEFORE_TEST: |
               pip install torch==1.8.1+cpu -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
           CIBW_ARCHS_LINUX: auto64 
           CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.cibw_manylinux }}
   
      - uses: actions/upload-artifact@v2
        with:
          name: wheels
          path: ./wheelhouse/*.whl
